@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #d90429;
}

.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d90429;
  border-radius: 10px;
  height: 4px;
}

::-webkit-scrollbar-button {
  height: 12px;
}
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

@layer components {
  .markdown h1 {
    @apply text-3xl font-bold mb-4;
  }
  .markdown h2 {
    @apply text-2xl font-semibold mb-4;
  }
  .markdown h3 {
    @apply text-xl font-semibold mb-3;
  }
  .markdown h4 {
    @apply text-lg font-semibold mb-3;
  }
  .markdown h5 {
    @apply text-base font-semibold mb-2;
  }
  .markdown h6 {
    @apply text-sm font-semibold mb-2;
  }
  .markdown p {
    @apply text-base text-gray-700 mb-4;
  }
  .markdown a {
    @apply text-blue-500 hover:text-blue-600 underline;
  }
  .markdown strong {
    @apply font-bold;
  }
  .markdown em {
    @apply italic;
  }
  .markdown ol {
    @apply list-decimal list-inside mb-4;
  }
  .markdown ul {
    @apply list-disc list-inside mb-4;
  }
  .markdown blockquote {
    @apply border-l-4 border-gray-200 pl-4 italic text-gray-600 mb-4;
  }
  /* .markdown code {
    @apply bg-gray-100 text-red-500 font-mono text-sm p-1 rounded;
  } */
  .markdown pre {
    @apply bg-gray-900 text-white font-mono text-sm p-3 rounded overflow-x-auto;
  }
  .markdown img {
    @apply mx-auto my-4 md:w-1/2;
  }
  .markdown table {
    @apply min-w-full divide-y divide-gray-200 table-auto mb-4;
  }
  .markdown thead {
    @apply bg-gray-100;
  }
  .markdown tbody tr {
    @apply even:bg-gray-50 odd:bg-white;
  }
  .markdown th,
  .markdown td {
    @apply text-sm p-2 text-left;
  }
}
